/*
  This new module is designed to introduce a new block layout to the standard Magento 1.9 CE theme template.

  Author: Jabberdog (Liam Fathers)
  Date Created: 14/03/15
*/

/* NEW HEADER */
html {

  body {

    .top-links {
      background: $c-white;
      ul {
        list-style: none;
        li {
          display: inline-block;
          padding: 0px 5px;
          a {
            color: $c-blue;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .telephone {
      h4 {
        color: $c-blue;
        margin: 0px;
        &:before {
          font-family: 'FontAwesome';
          content:"\f095";
          padding: 5px 7px;
          color: $c-dkblue;
          background: $c-ltgrey;
          border-radius: 50%;
        }
        small {
          color: $c-dkblue;
        }
      }
    }
    .new-header {
      background: $c-dkblue;
      .main-container {
        padding: 15px !important;
        .new-header-menu {
          ul {
            list-style: none;
            li {
              display: inline-block;
              padding: 0px 5px;
              a {
                text-transform: uppercase;
                border: 1px solid $c-text-white;
                color: $c-text-white;
                padding: 5px 10px;
                font-size: 1.1em;
                &:hover {
                  text-decoration: none;
                  background-color: $c-blue;
                  border: 1px solid $c-blue;
                  color: $c-text-white;
                  transition: background 0.5s ease;
                }
              }
            }
          }
        }
        .welcome-msg {
          p {
            text-transform: uppercase;
            color: $c-text-white;
            text-align: right;
            margin: 20px 0px 0px 0px;
            padding-right: 5px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

/* HOMEPAGE CONTENT SECTIONS */

.banner {
  background:url(../images/sections/banner_bg.jpg) center no-repeat transparent;
  padding: 40px 0px;
  background-attachment: fixed;
  background-size: contain;
  h1 {
    color: $c-text-white;
    font-weight: 800;
    font-style: italic;
    font-size: 4em;
    margin: 0px;
    text-shadow: 1px 1px 10px $c-gray;
    text-align: center;
  }
  .left {
    h3 {
      font-family: $f-stack-handwriting;
      color: $c-altyellow;
      text-transform: capitalize;
      font-size: 2em;
      letter-spacing: 3px;
      text-align: center;
      -ms-transform: rotate(-1deg); /* IE 9 */
      -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
      transform: rotate(-1deg);
      text-shadow: 1px 1px 10px $c-gray;
    }
  }
  .icon-key {
    background-color: $c-text-white;
    border: 1px solid $c-altgrey;
    h4 {
      color: $c-text-white;
      background-color: $c-blue;
      margin: 0px;
      padding: 15px;
      text-transform: uppercase;
    }
    p {
      padding: 15px;
      margin: 0px;
    }
    .read-more {
      padding: 0px 15px 15px 15px;
      a {
        background-color: $c-altyellow;
        color: $c-brown;
        border: 1px solid $c-dkyellow;
        text-transform: uppercase;
        font-size: 1.7em;
        padding: 5px 15px;
        text-align: center;
        font-weight: 800;
        max-width: 277px;
        display: block;
        margin: 0 auto;
        &:hover {
          background-color: $c-dkyellow;
          color: $c-dkbrown;
          text-decoration: none;
          transition: background 0.5s ease;
        }
        &:focus {
          text-decoration: none;
        }
        &:after {
          font-family: 'FontAwesome';
          content: '\f0da';
          padding-left: 20px;
          color: $c-brown;
          font-size: 0.7em;
          position: relative;
          bottom: 2px;
        }
      }
    }
  }
}

.top-msg {
  background-color: $c-dkblue;
  color: $c-text-white;
  .main-container {
    padding: 5px 30px !important;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        display: inline-block;
        padding: 0px 10px;
        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
}

.who-are-we {
  background-color: $c-blue;
  padding: 20px 0px;
  h1 {
    color: $c-text-white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px;
  }
  h4 {
    color: $c-text-white;
    text-align: center;
    margin: 0px;
  }
  p {
    color: $c-text-white;
    font-weight: 300;
    text-align: center;
    margin: 10px 0px 0px 0px;
    font-size: 0.9em;
  }
  .icon {
    text-align: center;
    .fa {
      font-size: 3em;
      color: $c-blue;
      border-radius: 50%;
      background-color: $c-text-white;
      padding: 10px;
      margin: 20px 0px 10px 0px;
    }
  }
  .blue-arrow {
    background:url(../images/sections/blue_arrow.jpg) center no-repeat;
    transform: rotate(45deg);
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
  }
}

.featured-products {
  padding: 0px;
  h1 {
    color: $c-blue;
    text-align: center;
  }
  .product {
    border: 1px solid $c-module-border-highlight;
    img {
      padding: 10px;
      display: block;
      margin: 0 auto;
      &:hover {
        opacity: 0.5;
      }
    }
    .product-title {
      background: $c-blue;
      h3 {
        color: $c-text-white;
        margin: 0px;
        padding: 10px;
        text-align: center;
      }
      &:hover {
        background: $c-dkblue;
        transition: background 0.5s ease;
      }
    }
  }
}

.learn {}

.click-section {
  background:url(../images/sections/click_section_bg.png) top left no-repeat transparent;
  background-size: contain;
  background-position: 5%;
  background-color: $c-ltgrey;
  padding: 20px 0px;
  p {
    strong {
      color: $c-dkblue;
    }
  }
  img {
    margin: 15px 0px;
  }
}

.contact-section {
  background: $c-dkblue;
  padding: 20px 0px;
  h1,h2,h3,h4,h5 {
    color: $c-text-white;
    margin: 0px;
  }
  .phone {
    dl {
      text-align: center;
      dt {
        color: $c-text-white;
        font-size: 1.5em;
        &:before {
          font-family: 'FontAwesome';
          content: '\f095';
          padding-right: 10px;
        }
      }
      dd {
        color: $c-text-white;
        font-size: 0.7em;
      }
    }
  }
  .live-chat {
    dl {
      text-align: center;
      dt {
        color: $c-text-white;
        font-size: 1.5em;
        &:before {
          font-family: 'FontAwesome';
          content: '\f086';
          padding-right: 10px;
        }
      }
      dd {
        color: $c-text-white;
        font-size: 0.7em;
      }
    }
  }
  .email {
    dl {
      text-align: center;
      dt {
        color: $c-text-white;
        font-size: 1.5em;
        &:before {
          font-family: 'FontAwesome';
          content: '\f0e0';
          padding-right: 10px;
        }
      }
      dd {
        color: $c-text-white;
        font-size: 0.7em;
      }
    }
  }
  .social {
    dl {
      text-align: center;
      dt {
        color: $c-text-white;
        font-size: 1.5em;
        &:before {
          font-family: 'FontAwesome';
          content: '\f230';
          padding-right: 10px;
        }
      }
      dd {
        color: $c-text-white;
        font-size: 0.7em;
      }
    }
  }
}

@media (max-width: 931px) {
  .banner {
    background-size: cover;
    background-position: 50% !important;
  }
}

@media (max-width: 767px) {
  .click-section {
    background-image: none !important;
  }



}