@font-face {
  font-family: carre;
  src: url(/skin/frontend/rwd/plugin-bikes/fonts/Carre.ttf);
}

#journeystarts {
  color: $c-text-white;
  font-weight: 800;
  font-style: italic;
  font-size: 4em;
  margin: 0px;
  text-shadow: 1px 1px 10px $c-gray;
  text-align: center;
  text-transform: uppercase;
}

#banner-subtitle {
    font-family: $f-stack-handwriting;
    color: $c-altyellow;
    text-transform: capitalize;
    font-size: 2em;
    letter-spacing: 3px;
    text-align: center;
    -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
    text-shadow: 1px 1px 10px $c-gray;
  }


#whyshouldyou{
  text-align: center;
  color: white;
}


  @media(min-width:771px) {
    .catalog-category-view{
      .col-main{
        width:75%
      }
    }
}