<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$categoryIds = $_product->getCategoryIds();
$_catID = $categoryIds[1];
$_category = Mage::getModel('catalog/category')->load($_catID);
$level = $_category->getLevel(); ?>
<div class="container product-view" id="messages_product_view">
    <!-- PRODUCT TITLE MOBILE -->
    <div class="row hidden-md hidden-lg">
        <div id="title-block-mobile" class="col-xs-12 prouct-title">
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        </div>
    </div>
    <div class="row">
        <!-- PRODUCT IMAGE BLOCK -->
        <div id="image-block" class="col-xs-12 col-md-4 pull-left">
            <?php echo $this->getChildHtml('media') ?>
        </div>
        <!-- PRODUCT TITLE FULL SCREEN -->
        <div id="title-block" class="col-md-8 hidden-sm hidden-xs prouct-title" style="padding:0!important">
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
        </div>
        <!-- PRODUCT INFO BLOCK -->
        <div id="info-block" class="col-md-4 pull-left hidden-sm hidden-xs" style="padding:0!important">
            <div class="info-top">
                <!-- PRODUCT CATEGORY-->
                <div class="product-category">
					<span><i class="fa fa-hand-o-right"></i>
                        <?php $categoryIds = $_product->getCategoryIds();
                        if(count($categoryIds) ){
                            $firstCategoryId = $categoryIds[0];
                            $_category = Mage::getModel('catalog/category')->load($firstCategoryId);
                            echo '<a href=/'.$_category->getUrlKey().'.html>';
                            $catname = $_category->getName();
                            echo ucwords(strtolower($catname));
                            echo '</a>';
                        } ?>
					</span>
                </div>
                <!-- REVIEW SUMMARY-->
                <div class="review-summary">
                    <?php echo $this->getReviewsSummaryHtml($_product, 'default', false)?>
                </div>
            </div>
            <!--   ATTRIBUTE ICONS -->
            <div class="commercial-attributes">
                <!-- SPEED ICON -->
                <?php if($_product->geticonSpeed()):?>
                    <div class="com-at">
                        <span><i class="fa fa-bicycle"></i></span>
                        <span class="icon-lable">Top Speed:</span>
                        <span><?php echo $_product->geticonSpeed();?></span>
                    </div>
                <?php endif?>
                <!-- BATTERY RANGE ICON -->
                <?php if($_product->geticonRange()):?>
                    <div class="com-at">
                        <span><i class="fa fa-battery-full"></i></span>
                        <span class="icon-lable">Battery Range:</span>
                        <span><?php echo $_product->geticonRange();?></span>
                    </div>
                <?php endif?>
                <!-- GEARS ICON -->
                <?php if($_product->geticonGears()):?>
                    <div class="com-at">
                        <span><i class="fa fa-gear"></i></span>
                        <span class="icon-lable">Gears:</span>
                        <span><?php echo $_product->geticonGears();?></span>
                    </div>
                <?php endif?>
            </div>
            <div class="product-description">
                <?php if ($_product->getShortDescription()):?>
                    <div class="short-description">
                        <div class="std" style="float:left">
                            <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                        </div>
                    </div>
                <?php endif;?>
            </div>
        </div>
        <!-- END OF PRODUCT INFO BLOCK -->
        <!-- PRODUCT ORDER BLOCK -->
        <div id="order-block" class="col-md-4 col-xs-12 pull-right">
            <div class="product-essential" style="padding-bottom:10px">
                <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <div class="no-display">
                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                        <input type="hidden" name="related_product" id="related-products-field" value="" />
                    </div>
                    <div class="product-shop">
                        <img src="http://placehold.it/350x80" style="width:100%;margin-bottom:5px">
                        <div class="price-info">
                            <?php echo $this->getPriceHtml($_product); ?>
                            <?php echo $this->getChildHtml('bundle_prices') ?>
                            <?php echo $this->getTierPriceHtml() ?>
                        </div>
                        <?php echo $this->getChildHtml('alert_urls') ?>
                        <?php echo $this->getChildHtml('other');?>
                        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                        <?php endif;?>
                    </div>
                    <div class="add-to-cart-wrapper">
                        <?php echo $this->getChildHtml('product_type_data') ?>
                        <?php echo $this->getChildHtml('extrahint') ?>
                        <?php if (!$this->hasOptions()):?>
                            <div class="add-to-box">
                                <?php if($_product->isSaleable()): ?>
                                    <?php echo $this->getChildHtml('addtocart') ?>
                                    <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                        <span class="or"><?php echo $this->__('OR') ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php echo $this->getChildHtml('addto') ?>
                                <?php echo $this->getChildHtml('sharing') ?>
                            </div>
                            <?php echo $this->getChildHtml('extra_buttons') ?>
                        <?php elseif (!$_product->isSaleable()): ?>
                            <div class="add-to-box">
                                <?php echo $this->getChildHtml('addto') ?>
                                <?php echo $this->getChildHtml('sharing') ?>
                            </div>
                        <?php endif; ?>
                        <div style="width:100%;background-color:#E5E5E5;height: 30px;padding-top: 4px;">
                            <p style="text-align: center">
                                <i class="fa fa-phone-square" style="font-size: 14px;"></i>
                                <span style="font-weight: bold; padding-left: 5px;">Call now</span> to order: <span style="font-weight: bold; font-size: 14px;"><a href="tel:01163214123" style="color:#636363;">0116 321 4 123</a></span>
                            </p>
                        </div>
                       <img class="img-responsive" alt="alt text for promotional banner" src="http://placehold.it/350x80" style="width:100%;padding-top:5px"/>
                        <div class="promo-cms-block-mobile hidden-sm hidden-xs">
                            <div class="hidden-sm hidden-xs">
                                <aside>
                                    <?php echo $this->getChildHtml('related_products') ?>
                                </aside>
                            </div>
                            <!-- PROMO CMS BLOCK ECHOS OUT HERE -->
                            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product-sidebar-promo-upper')->toHtml(); ?>
                            <!-- END OF CMS BLOCK ECHO -->
                            </aside>
                        </div>
                    </div>
                    <div class="clearer"></div>
                    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                    <?php endif;?>
                </form>
                <script type="text/javascript">
                    //<![CDATA[
                    var productAddToCartForm = new VarienForm('product_addtocart_form');
                    productAddToCartForm.submit = function(button, url) {
                        if (this.validator.validate()) {
                            var form = this.form;
                            var oldUrl = form.action;

                            if (url) {
                                form.action = url;
                            }
                            var e = null;
                            try {
                                this.form.submit();
                            } catch (e) {
                            }
                            this.form.action = oldUrl;
                            if (e) {
                                throw e;
                            }
                            if (button && button != 'undefined') {
                                button.disabled = true;
                            }
                        }
                    }.bind(productAddToCartForm);
                    productAddToCartForm.submitLight = function(button, url){
                        if(this.validator) {
                            var nv = Validation.methods;
                            delete Validation.methods['required-entry'];
                            delete Validation.methods['validate-one-required'];
                            delete Validation.methods['validate-one-required-by-name'];
                            // Remove custom datetime validators
                            for (var methodName in Validation.methods) {
                                if (methodName.match(/^validate-datetime-.*/i)) {
                                    delete Validation.methods[methodName];
                                }
                            }
                            if (this.validator.validate()) {
                                if (url) {
                                    this.form.action = url;
                                }
                                this.form.submit();
                            }
                            Object.extend(Validation.methods, nv);
                        }
                    }.bind(productAddToCartForm);
                    //]]>
                </script>
            </div>
        </div>
        <!-- END OF PRODUCT ORDER  BLOCK -->
        <div id="collateral" class="col-md-8 col-xs-12 pull-left">
            <?php if ($detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml')):?>
                <dl id="collateral-tabs" class="collateral-tabs">
                    <?php foreach ($detailedInfoGroup as $alias => $html):?>
                        <dd class="tab-container">
                            <div class="tab-content"><?php echo $html ?></div>
                        </dd>
                    <?php endforeach;?>
                </dl>
            <?php endif; ?>
            <!-- Show Product Reviews On Page -->
            <?php echo $this->getChildHtml('product_additional_data') ?>
        </div>
    </div>
    <div class="promo-cms-block-mobile hidden-md hidden-lg">
        <div>
            <aside>
                <?php echo $this->getChildHtml('related_products') ?>
            </aside>
        </div>
        <!-- PROMO CMS BLOCK ECHOS OUT HERE -->
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('product-sidebar-promo-upper')->toHtml(); ?>
        <!-- END OF CMS BLOCK ECHO -->
    </div>
</div>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
