.cms-home, .cms-cms-test, .catalog-category-view {

  @media(max-width: 991px) {
    .price-box {
      margin: 0 auto;
    }
    .feature-prod-img {
      margin-bottom: 0 !important
    }
  }

  .feature-review-summary .ratings{margin:3px 0}

  .feat-colorway-swatch{
    float:left;
    height:20px!important;
    width:20px!important;
    margin:0 0 5px 5px;
    -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.75);
  }


  .list-item {
    margin: 20px 0 25px 0;
    border-bottom: 1px solid;
    margin-left: 0 !important
  }
  .first {
    margin-top: 0 !important
  }
  .last {
    margin-bottom: 0 !important;
    border: none !important
  }

  .rating-box {
    margin: 2px auto 5px;
  }
  .ratings .amount {
    margin-top: -7px;
    font-size: 10px;
    text-align: center;
  }

  .list-item .product-name {
    color: #636363 !important;
    font-size: 27px;
    line-height: 1.1;
  }

  .commercial-attributes .com-at i {
    font-size: 16px;
    color: #80B636;
    display: inline;
    text-align: center;
  }

  .com-at {
    font-size: 16px;
    color: #636363;
  }

  .list-item:hover .product-name {
    color: #3399CC !important;
  }

  .feature-prod-link:hover {
    text-decoration: none !important;
  }

  .feature-product-price-info {
    max-width: 311px;
    height: 25px;
    color: #3399CC
  }

  @media screen and (max-width: 992px) {
    .feature-prod-link {
      display: inline !important
    }
    .product-name {
      font-size: 22px !important;
    }
  }

  @media screen and (max-width: 767px) {

    .feature-product-info-icons{
      margin-left:20px;
    }

    .feature-product-price-info {
      margin: 0 auto;
      padding-left:20px;
    }
    .prod-info-block {
      margin-bottom: 20px;
      padding: 0 5px;
    }
    .product-name, .feature-prod-title {
      text-align: center
    }
    .banner {
      background: none;
      padding: 0
    }
    .banner .left {
      display: none
    }
  }
}

@media screen and (max-width: 992px){
  .cat-page-right{display:none;}
  .category-view-main{width:100% !important}
}

.cat-page-right{
  width:25%;
  float:right;
}


.category-view-main{
  width:75%;
  float:left;
}
